.link-icon {
  text-transform: uppercase;
  color: $black;
  font-family: $font-heading;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 500;
  .icon {
    height: 0.8em;
    width: 1em;
    margin-right: .5em;
  };

  &:hover {
    color: $black;
  }
}
