{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "include",
        "mixin",
        "extend",
        "error",
        "return",
        "function",
        "if",
        "each",
        "content"
      ]
    }],
    "no-descending-specificity": null
  }
}
