// Grayscale
$brown: #513c3c;
$blue: #2a769a;
$turquoise: #41c3be;
$yellow: #f7f36b;
$red: #c22026;
$orange: #ffd271;
$white: #fff;
$near-white: #fafafa;
$gray-lightest: #e5e5e5;
$gray-lighter: #bcbec0;
$gray-light: #939598;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: #000;

// Project
