.layout-container {
  display: flex;
  flex-direction: column;

  > .main {
      flex: 1 0 auto;
  }
}


.footer {
  font-size: rem-calc(11px);
  font-family: $header-font-family;
  padding: 1em 0;
  flex-shrink: 0;
  margin-top: 3rem;

  .cell{

    text-align: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    
    &:last-child {
      text-align: right;
      @include breakpoint(medium) {
        text-align: right;
      }

      p{
        font-size: rem-calc(12px);
        font-weight: 400;
        text-align: center;
        @include breakpoint(medium) {
          text-align: right;
        }

      }
    }
    &:first-child {
      @include breakpoint(medium) {
        text-align: left;
      }

    }
  }

  .text-long,
  p {
    margin: 0;
    padding: 0;
  }
  a {
      font-weight: normal;
      border: none;
      &:hover {
        background: $light-gray;
        color: inherit;
      }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      list-style: none;
      &::before {
        content: normal;
      }

      margin:0 .5em;

      &.instagram a,
      &.facebook a{
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        text-indent: -10000px;
        overflow: hidden;
        display: block;
        &:hover {
          background-color: transparent;
        }
      }
        &.instagram a{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.96' height='21.96' viewBox='0 0 21.96 21.96'%3E%3Cpath d='M10.98 1.98c2.93 0 3.28.01 4.44.06 1.07.05 1.65.23 2.04.38.51.2.88.44 1.26.82.38.38.62.75.82 1.26.15.39.33.97.38 2.04.05 1.16.06 1.51.06 4.44 0 2.93-.01 3.28-.06 4.44-.05 1.07-.23 1.65-.38 2.04-.2.51-.44.88-.82 1.26-.38.38-.75.62-1.26.82-.39.15-.97.33-2.04.38-1.16.05-1.51.06-4.44.06-2.93 0-3.28-.01-4.44-.06-1.07-.05-1.65-.23-2.04-.38-.51-.2-.88-.44-1.26-.82-.38-.38-.62-.75-.82-1.26-.15-.39-.33-.97-.38-2.04-.05-1.16-.06-1.51-.06-4.44 0-2.93.01-3.28.06-4.44.05-1.07.23-1.65.38-2.04.2-.51.44-.88.82-1.26.38-.38.75-.62 1.26-.82.39-.15.97-.33 2.04-.38 1.16-.05 1.51-.06 4.44-.06m0-1.98C8 0 7.63.01 6.45.07 5.29.12 4.49.31 3.79.58c-.72.28-1.34.65-1.95 1.26-.61.61-.98 1.23-1.26 1.95-.27.7-.46 1.5-.51 2.67C.01 7.63 0 8 0 10.98c0 2.98.01 3.36.07 4.53.05 1.17.24 1.97.51 2.67.28.72.66 1.33 1.27 1.95s1.22.99 1.95 1.27c.7.27 1.5.46 2.67.51 1.17.05 1.55.07 4.53.07s3.36-.01 4.53-.07c1.17-.05 1.97-.24 2.67-.51.72-.28 1.33-.66 1.95-1.27s.99-1.22 1.27-1.95c.27-.7.46-1.5.51-2.67.05-1.17.07-1.55.07-4.53 0-2.98-.01-3.36-.07-4.53-.05-1.17-.24-1.97-.51-2.67-.28-.72-.66-1.33-1.27-1.95-.61-.61-1.22-.99-1.95-1.27-.7-.27-1.5-.46-2.67-.51C14.34.01 13.96 0 10.98 0'/%3E%3Cpath d='M10.98 5.34c-3.11 0-5.64 2.52-5.64 5.64s2.52 5.64 5.64 5.64 5.64-2.52 5.64-5.64-2.52-5.64-5.64-5.64m0 9.3c-2.02 0-3.66-1.64-3.66-3.66 0-2.02 1.64-3.66 3.66-3.66s3.66 1.64 3.66 3.66c0 2.02-1.64 3.66-3.66 3.66m7.18-9.52c0 .73-.59 1.32-1.32 1.32-.73 0-1.32-.59-1.32-1.32s.59-1.32 1.32-1.32c.73 0 1.32.59 1.32 1.32'/%3E%3C/svg%3E");
      }
      &.facebook a{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.77' height='21.77' viewBox='0 0 21.77 21.77'%3E%3Cpath d='M15.32 13.11h-2.07v7.6H10.1v-7.6H8.61v-2.67h1.49V8.71c0-1.24.59-3.17 3.17-3.17l2.33.01v2.59h-1.69c-.28 0-.67.14-.67.73v1.57h2.35l-.27 2.67zm0 0'/%3E%3Cpath d='M15.77 21.77H6c-3.31 0-6-2.69-6-6V6c0-3.31 2.69-6 6-6h9.78c3.31 0 6 2.69 6 6v9.78c-.01 3.3-2.7 5.99-6.01 5.99zM6 2.13C3.86 2.13 2.13 3.86 2.13 6v9.78A3.88 3.88 0 006 19.65h9.78a3.88 3.88 0 003.87-3.87V6a3.88 3.88 0 00-3.87-3.87H6z'/%3E%3C/svg%3E");
      }
    }
  }
}
