<button class="hamburger hamburger--3dxy" type="button" aria-label="Menu" id="hamburger" aria-controls="navigation"
  data-toggler="is-active">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
